<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>CGmulti</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <h1 class="title">CGmulti</h1>


        <form action="/players/" method="post">
            <p>
                <label for="getPlayers">Players: </label>
                <input type="text" name="players" id="players" autofocus /> 
                <input type="submit" /> (example: "Azkellas R4N4R4M4")
            </p>
        </form>
        <% if (!_.isEmpty(data)) {%>
            <% if (data.players_not_found !== []) { %>
                <% for (let player of data.players_not_found) {%>
                    Players '<%=player%>' could not be found <br />
                <%}%>
            <% } %>
            <% if (data.players_found.length > 0) {%>
                <table class="table table-dark table-striped table-bordered" style="width: auto;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <% for (let player of data.players_found) { %>
                                <th scope="col"><%=player%></th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var game in data['games']) { %>
                            <tr>
                                <th scope="row"><span class="game"><%=game %></span></th>
                                <% for (let player_name of data.players_found) {%>
                                    <% let player = data['games'][game][player_name]; %>
                                    <% if (player) { %>
                                        <td><span class="<%=player['league']%> <%=player['first']%>"> <%= player['rank']%> 
                                        <% if (player['league'] !== 'no_league') {%> 
                                            <%=player['league'] %>
                                        <% }%>
                                        </span></td>
                                    <% } else {%>
                                        <td><span class="undefined"> </span></td>
                                    <% } %>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        <% } %>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>



